<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">Prearate para encontrar deportes </h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">hobbie house es una aplicacion dedicada a que puedas practicar el
    deporte que siempre soñaste 
    </p>

    <button class="large-button">
  Entrar
</button>
  </div>
</div>
